<div id="contact">

    <div style="background-color: darkgrey;" class="cont">
        <h1> &nbsp; Contact Details</h1>
    <table>
        <tr> &nbsp;
            <td style="background-color: aqua;"> Email:</td>
            <td><a href="KVManoj2399@gmail.com"> &nbsp; KVManoj2399@gmail.com</a></td>
        </tr>
        <br>
        <tr> &nbsp;
            <td style="background-color: aqua;"> &nbsp; Phone NO:</td>
            <td> &nbsp; +91 &nbsp; 8888999922</td>
        </tr>
        <tr>
            &nbsp;
            <td style="background-color: aqua;"> &nbsp; Adress:</td>
            <td> &nbsp; K V Manoj Kumar S/O K Veeresh  <br>
                &nbsp; Kampli (T) <br> &nbsp; Ballari (D) <br>&nbsp; Karnataka.
            </td>
        </tr> <br>
    </table>
    </div>
</div>
