<div id="skills">
    <h1 style="font-family: Arial, Helvetica, sans-serif; margin-left: 450px;"> Software Technical Summary:</h1>
    <table border="2px">
        <tr>
            <td >
                
    
                <h3 style="color: brown;">JAVA</h3>
                <h4> • Good knowledge of OOPs concept like Abstraction, Encapsulation, Polymorphism, <br>  Inheritance.
                Good knowledge of Exception handling.
                Good practical knowledge of Collections Framework like List, Set, Map,
                </h4>
                <h3 style="color: brown;">SQL</h3>
                <h4>
                 •	Good understanding of RDBMS concepts.
                 •	Implemented Joins and sub-queries.
                </h4>
                
                <h3 style="color: brown;">WEBTECHNOLOGY</h3>
                <h4>•	Basic knowledge of using all the HTML tags. 
                RDBMS: Oracle.
                Tools/IDE: Eclipse, Oracle 10g.
                OS: Windows.
                </h4>

            </td>
        </tr>
    </table>
       
    </div>