<div id="profile">
  <div class="pro">
    <table>
      <tr>
        <td>
          <pre>
                                
          </pre>
        </td>
        <td>
         <pre>
           <h1 style="color: rgb(10, 10, 10);">            K V MANOJ KUMAR <br></h1>
            <p style="color: rgb(20, 19, 20);" align="justify">                                               From a young age, I’ve always had a sense of motivation and passion driving me forward. 
                                        Whether it’s exploring unique opportunities, learning additional skills, or meeting new people,
                                       I bring these values to every experience throughout my life on a personal and professional level. <br>
                                       Lover of innovation and everything related to generate new knowledge.Face 
                                       problems with a smile and solve them as soon as possible. Very calculated about
                                       the time I spend and work I do.
                                       To learn more about me, keep exploring my site or reach out directly.</p>
           
         </pre>
      </tr>
    </table>
  </div>
</div>
