<div id="education">
    <div>
    <h1>Educational Qualification</h1>
    <table border="15px">
            <tr>
                <td>
                    <h3>•BE (CSE), 7.5 (CGPA), 2021 &nbsp;</h3>  </td> 
                <td>   <h5> Rao Bahadur Y. Mahabaleswarappa Engineering College,Ballari<br>
                        Visvesvaraya Technological University, Belgaum. <br></h5> </td>
            
            </tr>
            
            <tr>
                <td>
                   <h3> •PUC, 79%, 2017</h3>  </td>
                <td>  <h5> Vishwajyothi Pu College,Siruguppa, Karnataka  <br>
                    Department of Pre-University Education, Karnataka. <br> </h5> 
                </td>
            </tr>
            <tr>
                <td>
                  <h3>  •SSLC,75%, 2015</h3> </td>
                <td>   <h5> pavan residential school, Kurugodu,Ballari <br>
                          Karnataka Secondary Education Examination Board (KSEEB). <br> </h5>
                </td>
            </tr>
    </table>
</div>   
</div>